#login {
    display: block;
    font-size: 16px;
    margin: 0 0 10px;
    text-align: right;
}

.login {
width:400px !important;
margin:150px auto !important;
}

    #login a {
        background-color: #d3dce0;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }

    #login a.username {
        background: none;
        margin: 0;
        padding: 0;
        text-decoration: underline;
    }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }


    footer {
    clear: both;
    background-color: #e2e2e2;
    font-size: .8em;
    height: 100px;
}

input[type="radio"], input[type="checkbox"] {
    margin: 12px 0 0 !important;
}