<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
      <add name="DefaultConnection" connectionString="Data Source=ES-NB-045\SQL2014;Initial Catalog=AutoImportTest;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>