
@{
    ViewBag.Title = "Home Page";
}

@*<div style="float: left;">
    <img src="~/images/Border_Express_logo_Horizontal.jpg" style="width:250px;" />
</div>*@
@*<div id="login">
    @Html.Partial("_LoginPartial")
</div>
<hr />*@


